*
{
    margin: 0;;
    padding: 0;

}
.main__card
{
    display: flex;
    float: left;
    justify-content: center;
    align-items:center ;
    height: 100%;
    width: auto;
}
.card
{
    height: 100px;
    width: 100px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: flex;
    /* flex-direction: column; */
    /* float: left; */
    justify-content: center;
    align-items: center;
    background-color: rgb(187, 187, 202);
    margin: 20px;
    border-radius: 20px;
    /* box-shadow: 20px wheat; */
}
.card__name
{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100%;
 /* height: auto; */
}
.card__text
{
    width: fit-content
    /* block-size: fit-content */
}